body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p {
    color: white;
    text-align: center;
}
.navop {
    padding: 1rem;
}
h3 {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(65, 59, 153);
}
.navbar {
    align-items: stretch;
    display:flex;
    width:auto;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
    border-bottom: 4px solid rgb(55, 20, 110);
    flex-direction: row;
    justify-content: space-between;
    row-gap: 20%;
}
.icon {
    padding: 0.25rem;
    background-color: rgb(17, 91, 230);
    border-radius: 1rem;
    margin-left: 2rem;
    margin-right: 1rem;
}
.test {
    display:flex;
    flex:auto;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.stretch_width {
    display:flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.textbox {
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    width: 35rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main_div {
    display:grid;
    margin-top: 5rem;
    background-color: #202060;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main_img {
    object-fit: cover;
    height:24rem;
    width: 24rem;
    border-radius: 1rem;
}
.season_border {
    border-bottom:.5rem;
    border-top: .5rem;
    border-style: dotted;
    border-left: 0;
    border-right: 0;
    border-color: #ffffff;
}
.button {
    background-color:chartreuse;
    border-color: chartreuse; 
    border-radius: 1rem; 
    color:#ffffff; 
    text-decoration: none; 
    border:5rem;
    text-align: center;
}